

/*小于750px的断点*/

@media screen and (max-width:750px) {
    .nav-bar {
        width: 100%;
        display: none;
        background: #fff;
    }
    .nav-bar.open {
        display: block;
    }
    .brand {
        width: 100%;
        height: 80px;
        box-shadow: 0 0 10px #eee;
    }
    .logo {
        margin: 0;
    }
    .logo-img {
        max-width: 100%;
        height: 100%;
        padding: 0.5em;
    }
    .name {
        margin: 0;
        padding: 1em 0;
        font-size: 16px;
    }
    .name h1 {
        font-size: 18px;
    }
    .name h3 {
        font-size: 16px;
    }
    .header__menu {
        padding: 0 0.5em 0 0;
        margin-top: 23px;
    }
    .nav-bar>ul>li {
        display: block;
        border-bottom: 1px solid #eee;
        padding: 1em;
    }
    .nav-bar>a {
        font-size: 16px;
    }
    .nav-bar .this {
        border-bottom: 0;
    }
}


/*大于555px的断点*/

@media screen and (min-width:555px) {
    section {
        width: 50%;
    }
}


/*大于750px断点，汉堡菜单隐藏*/

@media screen and (min-width:750px) {
    .header__menu {
        display: none;
    }
}


/*小于460px 名字隐藏*/

@media screen and (max-width:460px) {
    .name {
        display: none;
    }
}


/*大于850px时，作品三排排列*/

@media screen and (min-width:850px) {
    .portfolio-item {
        width: 33.33%;
        order: 0;
    }
}

/*大于1140px时，居中1140px视图，左右自动，*/

@media screen and (min-width:1140px) {
    main, footer, .top-warp {
        width: 1140px;
        margin: 0 auto;
    }
    .nav-bar a:hover {
        border-bottom: 2px solid #ef3125;
    }
}
